boto3==1.33.11
botocore==1.33.11
celery==5.3.6
Django==5.0
django-filter==23.5
drf-yasg==1.21.7
djangorestframework==3.14.0
face_recognition
numpy==1.26.2
face_recognition_models
opencv-contrib-python-headless
cmake==3.28.1
dlib==19.24.2
pandas==2.1.4
Pillow==10.1.0
psycopg2-binary==2.9.9
requests==2.31.0
